<!DOCTYPE html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <title>Home</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="css" href="stylesheets/styles.css">
  </head>
  
  <body>
    <header>
      <h1>Scrabble!</h1> 
      <nav>
        <ul>
          <li><a href="/score">Score</a></li>
          <li><a href="/score-many">Score Many</a></li>
        </ul>
      </nav>
    </header>

    <main>
     <%= yield%>  
    </main>

  </body>
</html>